@import "./../../../assets/styles/funtions.scss";

@font-face {
  font-family: Josefin Sans;
  src: url(./../../../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

.container {
  font-family: Josefin Sans;
  min-width: 100vw;
  min-height: 100vh;
  @include displayFlex(row, center, center);

  @include displayFlex(column, center, center);
}
